<ion-header>
  <ion-navbar color="marvel-color">
    <ion-title *ngIf="!isSearchbarOpened">
      Ion Hero
    </ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened" (search)="onSearch($event)" showCancelButton="true" (ionCancel)="isSearchbarOpened=false">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true"></button>
      <ion-icon style="color:#FFF; padding:10px;" name="search"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let hero of heroes" (click)="getDetail(hero.id)">
      <ion-thumbnail item-start>
        <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" />
      </ion-thumbnail>
      <h2>{{hero.name}}</h2>
      <p>{{hero.description}}</p>
      <button ion-button clear item-end >View</button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>